[dir='rtl'] {
    .css-oc2eyy-MuiPaper-root-MuiDrawer-paper {
        left: auto !important;
        right: 0 !important;
    }

    .css-jjhd74-MuiStack-root {
        margin-left: 0 !important;
    }
}

.iran-sans {
    font-family: 'IranSans' !important;
}

.css-rizt0-MuiTypography-root {
    font-family: 'IranSans' !important;
    text-align: right;
}

.css-1fx5hi-MuiListItemIcon-root {
    margin-left: calc(1.2 * var(--mui-spacing)) !important;
    margin-right: auto !important;
}

input {
    outline: none !important;
}


.search-wrapper {
    input::placeholder {
        font-size: 11px; /* Equivalent to text-sm in Tailwind */
      }
}

body *{
    font-family: iransans !important;
}