[dir='rtl'] {
    .css-oc2eyy-MuiPaper-root-MuiDrawer-paper {
        left: auto !important;
        right: 0 !important;
    }

    .css-jjhd74-MuiStack-root {
        margin-left: 0 !important;
    }
}

.iran-sans {
    font-family: 'IranSans' !important;
}

.css-rizt0-MuiTypography-root {
    font-family: 'IranSans' !important;
    text-align: right;
}

.css-1fx5hi-MuiListItemIcon-root {
    margin-left: calc(1.2 * var(--mui-spacing)) !important;
    margin-right: auto !important;
}

input {
    outline: none !important;
}

.MuiStack-root.css-jjhd74-MuiStack-root{
    display: none;
}

.search-wrapper {
    input::placeholder {
        font-size: 11px;
        /* Equivalent to text-sm in Tailwind */
    }
}

body * {
    font-family: iransans !important;
}

.MuiBox-root {
    border-left: solid 1px #e6e6e6e3 !important;
    // margin-left: 22px;
}

[data-toolpad-color-scheme="dark"] {
    .MuiBox-root {
        border-left: 1px solid #424242e3 !important;
        // margin-left: 22px;
    }

    .my-input{
        background: #212121;
    }
}

.MuiStack-root.css-1d9cypr-MuiStack-root {
    padding-right: 22px;
}

.MuiBox-root.css-1s8knwl{
    padding-left: 4px;
}
